/* Animations */
/* Fonts */
@font-face {
  font-family: 'garet';
  src: url(Fonts/garet.otf);
  font-weight: 100px;
  font-style: normal;
}

/* Classes */
.github {
  border-radius: 20px;
  background-color: rgb(34, 35, 43);
  margin-left: 10px;
  margin-top: 8%;
  height: 280px;
}

.discord {
  margin-right: 15px;
  margin-top: 8%;
  height: 280px;
  background-color: rgb(78, 80, 182);
  border-radius: 20px;
}

.topBar {
  gap: 0px 644px;
  display: grid;
  grid-template-columns: auto auto auto;
  transform: translateY(-35px);
  height: 135px;
  background-color: #0d0d0d;
}

.aboutUs {
  background-color: #0d0d0d;
  transition: 0.5s;
  background-color:
    padding-bottom: 5px;
  border-radius: 10px;
  box-shadow: 20px 20px 0px 2px #1d1d1d;
  animation-duration: 0.5s;
}

.aboutUs:hover {
  transition: 0.5s;
  box-shadow: -20px -20px 0px 2px #1d1d1d;
}

.gamesContainerrow {
  margin-left: 20px;
  margin-right: 40px;
  grid-gap: 153px;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.descriptionGitHub {
  border-radius: 10px;
  margin-left: 0px;
  transform: translateY(-29px);
  height: 50px;
  background-color: rgb(50, 52, 66);
}

.descriptionDiscord {
  border-radius: 10px;
  margin-left: 0px;
  transform: translateY(-29px);
  height: 50px;
  background-color: rgb(96, 98, 228);
}

.description {
  border-radius: 10px;
  margin-left: 0px;
  transform: translateY(-29px);
  height: 50px;
  background-color: #141414;
}

.middleContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0.5fr;
  gap: 0px 80px;
  grid-template-areas:
    ". . .";
}

/* Body */
body {
  margin: 0px;
  background-color: black;
}

/* Ids */
#überschriftMain {
  text-shadow: rgb(225, 225, 225) 0px 0px 10px;
  letter-spacing: 5px;
  font-size: 50px;
  padding-top: 10px;
  color: white;
  text-align: center;
  font-family: garet;
}

#überschriftAboutUs {
  padding-top: 20px;
  color: white;
  font-family: monospace;
  font-size: 30px;
  text-align: center;
}

#ghimg{
  margin-left: 10px;
  height: 80px;
  border-radius: 20px;
  margin-top: 50%;
}

#dcimg{
  margin-top: 35%;
  height: 100px;
}

#textAboutUs {
  color: white;
  font-family: garet;
  font-size: 20px;
  text-align: center;
}

#pageItem {
  transition: 0.3s;
  width: 355px;
  padding-top: 5%;
  height: 230px;
  margin-top: 20%;
  background-color: #0d0d0d;
  border-radius: 10px;
}

#githubimg {
  margin-left: 21%;
  transform: translateY(-5px);
}

#discordimg {
  margin-left: 6%;
  transform: translateY(-5px);
}

#pageItem:hover {
  filter: brightness(70%);
  border-radius: 30px;
}

#pageItem img {
  padding-bottom: 5px;
  margin-left: 5%;
}

#descriptionTextGithub {
  color: white;
  font-family: garet;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

#descriptionText {
  color: white;
  font-family: garet;
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}
