/*Fonts*/

@font-face {
  font-family: "main";
  src: url(Fonts/garet.otf);
}

@font-face {
  font-family: "Lgc";
  src: url(Fonts/Lgc.ttf);
}

/*Animations*/


/*Elements*/

h1, h2, h3, html, body, p{
  margin: 0px;
}

body{
  color: white;
  background-color: rgb(38, 38, 38);
}

a:hover{
  color: rgb(131, 131, 131);
}

a{
  transition: 0.3s;
  color: white;
}


/*Hover*/


/*Ids*/

#überschriftMain{
  font-size: 2.5vw;
  font-family: main;
  text-align: center;
}

#current{
  color: #5F5DC0;
}

#descriptionText{
  margin-left: 15vw;
  font-family: main;
  font-size: 1vw;
  margin-top: 3.3vw;
}

#headerH3{
  font-size: 1.2vw;
  margin-top: 1.3vw;
  font-family: monospace;
  justify-content: center;
  align-items: center;
  display: flex;
}

#tipText{
  font-family: main;
  font-size: 1.1vw;
  padding: 0.5vw;
}

/*Farben*/

#t1{
  background-color: rgb(200, 86, 86);
}
#t2{
  background-color: rgb(200, 117, 86);
}
#t3{
  background-color: rgb(200, 158, 86);
}
#t4{
  background-color: rgb(167, 200, 86);
}
#t5{
  background-color: rgb(86, 200, 97);
}
#t6{
  background-color: rgb(86, 200, 183);
}
#t7{
  background-color: rgb(86, 156, 200);
}
#t8{
  background-color: rgb(88, 86, 200);
}
#t9{
  background-color: rgb(153, 86, 200);
}
#t10{
  background-color: rgb(200, 86, 86);
}


/*Classes*/

.imgTop{
  background-image: url(Imgs/banner.jpg);
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 19vw;
  background-color: #5F5DC0;
}

.hotbar{
  border-top: 0.1vw solid black;
  border-bottom: 0.1vw solid black;
  padding-left: 10vw;
  padding-right: 10vw;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  height: 5vw;
  background-color: rgb(27, 26, 26);
}


.hotbarItem{
  font-size: 0.9vw;
  font-family: Lgc;
  justify-content: center;
  align-items: center;
  display: flex;
}

.strich{
  margin-top: 2vw;
  border-top: 0.2vw solid rgb(27, 26, 26);
  width: 72%;
  margin-left: 14.3vw;
}

.tipContainer{
  width: 70vw;
  height: 4vw;
  margin-top: 2.5vw;
  margin-left: 15vw;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #1c1c1c;
}

.tipCount{
  background-color: #171717;
  width: 4vw;
}

.tipHeader{
  width: 68vw;
}

.tipDescription{
  margin-left: 15vw;
  width: 70vw;
  height: 9vw;
  background-color: rgb(48, 46, 46);
}
