/*Ids*/
#descriptionText{
  margin-left: 15vw;
}

#landImgHeight{
  height: 18vw;
  transform: translateX(1vw);
}

#headerDescription{
  font-size: 2vw;
  text-align: left;
  margin: 0.5vw;
  margin-left: 1vw;
  font-family: Lgc;
}

#landText{
  margin-left: 1.5vw;
  font-family: main;
  font-size: 1.2vw;
}

#tagSchrift{
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: monospace;
  font-size: 1.1vw;
  transform: translateY(-0.8vw);
}

#portugal{
  border-color: rgb(79, 142, 83);
}

#kroatien{
  border-color: rgb(142, 79, 128);
}

/*Classes*/
.strich{
  margin-top: 2vw;
  border-top: 0.2vw solid rgb(27, 26, 26);
  width: 72%;
  margin-left: 14.3vw;
}

.videoContainer{

  margin-top: 2.5vw;
  margin-left: 15vw;
  margin-bottom: 2vw;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 70vw;
  background-color: rgb(66, 66, 66);
  border-left: 0.4vw solid rgb(199, 70, 70);
  border-right: 0.4vw solid rgb(199, 70, 70);
}

.landDescription{
  width: 30vw;
}

.landTags{
  border: 0.15vw solid black;
  width: 20vw;
  background-color: rgb(43, 43, 43);

}

.landImg{
  width: 20vw;
}

/*Tags*/
.Tag{
  margin-top: 1.3vw;
  margin-left: 2.8vw;
  border-radius: 0.4vw;
  background-color: #5F5DC0;
  display: grid;
  grid-template-columns: auto auto;
  width: 14vw;
  height: 2vw;
}

.tagw1{
  background-color: rgb(14, 14, 14);
  border-radius: 0.4vw;
  height: 2vw;
}
