/*Ids*/
#youtubeIconImg{
  height: 4vw;
  transform: translateY(2.7vw) translateX(5.8vw);
}

#headerYoutube{
  text-align: center;
  margin-top: 1vw;
  font-family: Lgc;
  font-size: 1.5vw;
}

#LinkdescriptionText{
  margin-left: 3vw;
  font-family: main;
  text-align: center;
  font-size: 1vw;
  margin-right: 2vw;
}

/*Classes*/
.Youtube{
  transition: 1s;
  display: grid;
  grid-template-columns: auto auto;
  border-left: 0.5vw solid rgb(244, 67, 61);
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  margin-top: 4vw;
  height: 14vw;
  background-color: #343333;
  margin-left: 10vw;
  margin-right: 56.5vw;
}

.IconYoutube{
  border-top-right-radius: 0.8vw;
  border-bottom-right-radius: 0.8vw;
  transform: translateX(2vw) translateY(2vw);
  background-color: rgb(244, 67, 61);
  height: 10vw;
  width: 16vw;
}

.Instagram{
  transition: 1s;
  transform: translateY(-7vw);
  display: grid;
  grid-template-columns: auto auto;
  border-right: 0.5vw solid rgb(196, 61, 244);
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
  margin-top: 4vw;
  height: 14vw;
  background-color: #343333;
  margin-right: 10vw;
  margin-left: 56.5vw;
}

.IconInstagram{
  border-top-left-radius: 0.8vw;
  border-bottom-left-radius: 0.8vw;
  transform: translateX(2vw) translateY(2vw);
  background-color: rgb(196, 61, 244);
  height: 10vw;
  width: 16vw;
}

.Patreon{
  transition: 1s;
  transform: translateY(-14vw);
  display: grid;
  grid-template-columns: auto auto;
  border-left: 0.5vw solid rgb(217, 102, 46);
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 1vw;
  margin-top: 4vw;
  height: 14vw;
  background-color: #343333;
  margin-left: 10vw;
  margin-right: 56.5vw;
}

.IconPatreon{
  border-top-right-radius: 0.8vw;
  border-bottom-right-radius: 0.8vw;
  transform: translateX(2vw) translateY(2vw);
  background-color: rgb(217, 102, 46);
  height: 10vw;
  width: 16vw;
}

.Website{
  transition: 1s;
  transform: translateY(-20vw);
  display: grid;
  grid-template-columns: auto auto;
  border-right: 0.5vw solid rgb(97, 61, 244);
  border-top-left-radius: 1vw;
  border-bottom-left-radius: 1vw;
  margin-top: 4vw;
  height: 14vw;
  background-color: #343333;
  margin-right: 10vw;
  margin-left: 56.5vw;
}

.IconWebsite{
  border-top-left-radius: 0.8vw;
  border-bottom-left-radius: 0.8vw;
  transform: translateX(2vw) translateY(2vw);
  background-color: rgb(97, 61, 244);
  height: 10vw;
  width: 16vw;
}
